<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - yocel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="icon" href="images/logo.png" />
    @{
        ViewData["Title"] = "Home Page";
    }



</head>

<body>

    <div class="top-container" style="width:100% !important; height:auto">
        <div class="home-screen" style="height: auto">
            <h1 class="name">I'm Yunus.</h1>
            <h3 class="def">an Electrical & Electronics Engineer</h3>
            <h3 class="def"><em>loves travelling by heart</em></h3>
        </div>
        <div class="row">
            <img style="height:100%; width:100%" src="images/general/coverrr.gif" />
        </div>
        <div class="row">
            <div class="col">
                <img style="width:100%; width:100%" src="images/general/coverr1.gif" type="image/gif" />
            </div>
            <div class="col">
                <img style="height:100%; width:100%" src="images/general/coverr2.gif" type="image/gif" />
            </div>
        </div>

        <hr class="hr-style" />
        <div class="row">
            <div class="col">
                <img style="width:100%;" id="leftimg" src="images/general/cover.png" alt="" />
            </div>
            <div class="col">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin:0; padding:0; width:100%">

                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>

                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/athens/IMG_6631.JPG" alt="0th slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/athens/IMG_6463.JPG" alt="1st slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/barcelona/IMG_9120.JPG" alt="2nd slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/rome/IMG_7951.JPG" alt="3rd slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/paris/IMG_9323.JPG" alt="5th slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/paris/IMG_9792.JPG" alt="6th slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/amsterdam/IMG_0398.JPG" alt="7th slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/amsterdam/IMG_0281.JPG" alt="8th slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/brussels/IMG_9926.JPG" alt="9th slide">
                        </div>
                        <div class="carousel-item" style="height: auto">
                            <img class="d-block w-100" id="slide" src="images/brussels/IMG_9872.JPG" alt="10th slide">
                        </div>


                    </div>
                    <!--      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
                </div>
            </div>
        </div>




    </div>


    <hr class="hr-style" />


    <div class="middle-container">
        <div class="profile">
            <img class="img-style1" id="about-me" src="images/athens/IMG_1023.JPG" />
            <h2 style="text-align:center; font-size:300%; margin-top:3%">Hello.</h2>
            <p style="text-align:center; font-size:150%; margin:0 auto 0 auto">
                Welcomeee and happy to see you on my page 🥳
            </p>
            <br>
            <p style="font-size:150%; margin-right:10%; margin-left:10%; margin-bottom:0%">
                I am Yunus, 25 years old. I live in Ankara due to work but i'm originally from Manisa, Turkey. I'm a Software Test Engineer
                who loves coding and travelling but i'm not going to tell my career path on this page.
                If you get interested in <a href="https://yunusocel.github.io/yocel/"><em>my academic career</em></a>
                you can check out by clicking on the link.
            </p>
            <br>
            <br>
            <p class="quotes" style="text-align:center; margin: 0 auto 0 auto"><em>"To write a memoir is to save something from the hand of death."</em></p>
            <p style="text-align:center; font-size:150%; margin:0 auto 0 auto">André Gide</p>
            <br>
            <p style="font-size:150%; margin-right:10%; margin-left:10%; margin-bottom:0%">
                I have decided to own a blog by thinking André Gide's
                quote and post something related to me and my memories i have. I just didn't want them to stay with me
                that's why i'm here to share my past journeys by beginning from my erasmus memories in my blog named
                <em>My Heart Beats in</em> which is meaningful for me.
                <br>

            </p>
            <hr class="hr-style">
            <div class="profile-section">
                <table style="height:auto; width:100%" cellspacing="20px" cellpadding="50px">
                    <tr>
                        <td width="40%">
                            <img class="img-style3" src="images/athens/IMG_6763.JPG" alt="">
                        </td>
                        <td>
                            <p style="font-size:150%; margin-top:5%; margin-left:0%; margin-right:0; margin-bottom:0">
                                <em style="color: #48C9B0">"My Heart Beats in..."</em>
                            </p>
                            <br />
                            <p style="font-size:150%; margin-top:0; margin-left:0%; margin-right:0; margin-bottom:10%">
                                I created this blog thinking that you'll like and find beneficial. I made an effort this.
                                <br>
                                I hope, you do ☺️
                                <br>
                                I'll be updating my blog regularly as i can after my new journeys.
                                That's why let's take a look what you'll find on this page.
                            </p>
                        </td>
                    </tr>
                </table>
                <hr class="hr-style1">
                <table style="height:auto; width:100%" cellpadding="50px" cellspacing="20px">
                    <tr>
                        <td>
                            <p style="font-size:150%; margin-top:5%; margin-right:0; margin-left:0; margin-bottom:0%">
                                <em style="color: #48C9B0">"...suggestions, memories and photos."</em>
                            </p>
                            <br />
                            <p style="font-size:150%; margin-top:0; margin-right:0; margin-left:0; margin-bottom:10%">
                                I'm going to be sharing <em>photos</em> i have taken, my <em>memories</em> i have and <em>suggestions</em> to do or <u>not</u> to do
                                in places that i have traveled before.
                                <br>
                                You can read my articles from
                                <a href="#navbarDropdownMenuLink"><em>my heart beats in</em></a> section and they could be beneficial to make a good plan..
                            </p>
                        </td>
                        <td width="40%">
                            <img class="img-style2" src="images/rome/IMG_7398.JPG" alt="">
                        </td>
                    </tr>
                </table>
                <hr class="hr-style1">
                <table style="height:auto; width:100%" cellspacing="20px" cellpadding="50px">
                    <tr>
                        <td width="40%">
                            <img class="img-style3" src="images/cologne/IMG_0431.JPG" alt="">
                        </td>
                        <td>
                            <p style="font-size:150%; margin-top:5%; margin-left:0%; margin-right:0; margin-bottom:0%">
                                <em style="color: #48C9B0">"A Cup of Coffee.."</em>
                            </p>
                            <br />
                            <p style="font-size:150%; margin-top:0%; margin-left:0%; margin-right:0; margin-bottom:10%">
                                This is going to be a new long adventure which we will walk through together ✌️
                                <br>
                                That's why i highly recommend you..
                                <br>
                                <em>Just grab a cup of coffee, sit back and keep reading ☕️ </em>
                            </p>
                        </td>
                    </tr>
                </table>
                <hr class="hr-style1">
                <table style="height:auto; width:100%" cellpadding="50px" cellspacing="20px">
                    <tr>
                        <td>
                            <p style="font-size:150%; margin-top:5%; margin-right:0; margin-left:0; margin-bottom:0">
                                <em style="color: #48C9B0">"Get In Touch!"</em>
                            </p>
                            <br />
                            <p style="font-size:150%; margin-top:0; margin-right:0; margin-left:0; margin-bottom:10%">
                                I'd like to remind that i'll keep developing my page and be adding new contents inside it.
                                Also, you will be contributing for me and other people by sharing your memories, photos and
                                thoughts in comment section in the following days.
                                <br>
                                <em>Don't hesitate to send me your feedback and contact me.</em>
                            </p>
                        </td>
                        <td width="40%">
                            <img class="img-style2" src="images/barcelona/IMG_8860.JPG" alt="">
                        </td>
                    </tr>
                </table>
                <hr class="hr-style1">
                <table style="height:auto; width:100%" cellspacing="20px" cellpadding="50px">
                    <tr>
                        <td width="40%">
                            <img class="img-style3" src="images/paris/IMG_9792.JPG" alt="">
                        </td>
                        <td>
                            <p style="font-size:150%; margin-top:5%; margin-left:0%; margin-right:0">
                                <em style="color: #48C9B0">"Let's get started.."</em>
                            </p>
                            <br />
                            <p style="font-size:150%; margin-top:0%; margin-left:0%; margin-right:0">
                                Anyway, i'm super excited to begin! And so glad to meet you :)
                                <br>
                                Happy reading!
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <script>var myName = "Yunus";
        var yourName = prompt("What is your name?");

        document.getElementById("entrance").textContent = "Hello " + yourName.slice(0, 1).toLocaleUpperCase() +
            yourName.slice(1, yourName.length).toLocaleLowerCase();
        </script>
</body>
</html>